<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>About Weather API</title>
    <!-- Link to external CSS -->
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
    
    <h1>Information about this Weather API</h1>
    <p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
    <p>Weather for date you selected</p>
    <!-- More HTML content here -->
    
</body>
</html>
